* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    height: 75px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);   
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color:#e5e7eb ;
    padding: 0 1.5rem;
}

.hero-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 3rem calc((100vw - 1390px) / 2);
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 1rem 3 rem;
    font-size: 1rem;
}

.button {
    padding: 0.5rem 0.8rem;
    border-radius: 15px;
    border-color: #f9f9f9;

}

.logo {
    font-size: 24px;
    font-weight: 900;
    padding: 0 2rem;
}

.column-left {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
 
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 55px;
    padding: 3rem calc((100vw - 1390px) / 2);
    margin: 0;
}

.images {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    gap: 65px;
}

.logo2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.heroq {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}


.paragraph {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem calc((99vw - 1200px) / 2);
    margin: 0;
    line-height: 1.2;
    max-width: 445px;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem calc((99vw - 1200px) / 2);
    background-color: #f9f9f9;
}

.in-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem calc((99vw - 1200px) / 2);
    gap: 250px;
    background-color: #3882f6;
    color: #f9f9f9;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9f9f9;

}